﻿*{
	margin: 0;
	padding: 0;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}

body{
	background: #282828;
}

.wrapper{
	width: 1260px;
	margin: 0 auto;
	background: #fff;
}

									/*-- HEADER BEGIN --*/

							/*-- NAV BEGIN --*/
header{
	width: 1260px;
	height: 260px;
	background-color: #001425;	
}

nav{
	margin: 0 auto;
	width: 1168px;
	height: 50px;
	background: #002646;
}

nav li a{
	color: #fff;
	font-family: Myriad Pro, Regular;
	font-size: 14px;	
}

nav ul.left li{
	float: left;
	height: 36px;	
	border-right: 1px solid;
	padding-top: 8px;	
}

nav ul.left li a:hover{
	background-image: url(../images/fon-2.png);
	padding: 17px 12px;
}

nav ul.left li.home a{
	background-image: url(../images/fon-2.png);	
	padding: 17px 12px;
}

nav ul.left li a{	
	padding: 17px 12px;
}

nav ul.right li{
	float: right;	
	padding-top: 14px;	
}

nav ul.right li a{	
	padding: 17px 12px;
}

nav ul.right li a:hover{
	background-image: url(../images/fon-2.png);
	padding: 17px 12px;
}
nav ul.right li.en{	
	margin: 0 28px 0 0; 
}

nav ul.left li a i{	
	font-size: 24px;
}
					/*-- NAV AND --*/

						/*-- LOGOTYP BEGIN --*/
.logo{
	width: 1260px;
	height: 150px;
}

h1{
	color: #fff;	
	text-transform: uppercase;
	font-family: Myriad Pro, Bold;
	font-size: 80px;
	font-style: italic;
	float: left;
	margin: 0;
	padding: 35px 45px 25px 45px;	
}

p{
	color: #fff;
}

p.cont1{	
	float: right;
	margin: 75px 115px 30px 0;
}

p.cont2{	
	float: right;
	margin: 75px 8px 30px 0;
}

p.cont1 span{
	font-family: Myriad Pro, Regular;
	font-size: 14px;
	padding: 15px 12px 10px 12px;
	background: #00A1C4;
	margin-bottom: 45px;
	position: relative;

}

p.cont1 span i{	
	font-size: 24px;
}

p.cont2 span{
	font-family: Myriad Pro, Bold;
	font-size: 32px;
	padding: 10px 25px 0 10px;
}


						/*-- LOGOTYP AND --*/

					/*-- MENU BEGIN --*/

.menu{
	width: 1260px;
	height: 60px;
	background: url(../images/fon-3.gif);
	clear: both;		
}

.menu ul{
	margin-left: 45px;
}

.menu li a{
	border-left: 1px solid #669999;
	padding: 22px;
	color: #fff;
	text-transform: uppercase;
	font-family: Myriad Pro, Bold;
	font-size: 14px;
	float: left;
	position: relative;
}

.menu li a:hover{	
	padding: 22px;	
	background: #009999;
}

.barom ul{
	display: none;
	position: absolute;
	margin-top: 61px;
	margin-left: 190px;
	text-decoration: none;
}

.barom li a{
    color: #003366;	
    font-family: Myriad Pro, Bold;
	font-size: 14px;	
	background: #fff;
	text-transform: none;
}

.menu li.barom:hover ul{	
	display: block;	  
}
					/*-- MENU AND --*/

								/*-- HEADER AND --*/
								/*-- SECTION BEGIN --*/
.hedertext{
	margin: 10px 45px 25px 45px;	
}

.img{
	clear: both;
	float: left;
}

.ipsum{
	float: right;
	background: #000066;
	height: 301px;
	width: 510px;
	padding-left: 20px;
	padding-top: 50px;

}

.ipsum span.only{
	font-family: Myriad Pro, Regular;
	font-size: 32px;	
}						

.ipsum span.lorem{
	font-family: Myriad Pro, Bold;
	font-size: 60px;	
}

.ipsum span.best{
	font-family: Myriad Pro, Bold;
	font-size: 36px;	
}						

								/*-- SECTION AND --*/
.ban{
	clear: both;	
	background: #cccccc;
	height: 204px;
	width: 370px;
	margin-top: 24px;
	float: left;
}

.ban2{
	clear: none;	
	background: #cccccc;
	height: 204px;
	width: 370px;
	margin: 24px 0 10px 30px;
	float: left;
	}

p.black{
	background: #000;
	padding-left: 20px;
	height: 50px;
	margin-top: 154px;
}								

p.black span{	
	font-family: Myriad Pro, Bold;
	font-size: 26px;
	font-style: italic;
	background: url(../images/fon-4.gif);
	background-size: cover;
	padding: 10px 204px 10px 12px;
	position: absolute;
}

footer {	
	clear: both;	 
	height: 200px;
	background: url(../images/fon-5.gif);
}
